.patient {
  &__card {
    overflow: visible !important;
    height: 58px !important;
    position: relative !important;
  }

  &__col {
    z-index: 1;
  }

  &__date-picker {
    height: 100% !important;
    outline: none;
    min-width: 100% !important;
    display: flex;
    align-items: end;

    input {
      height: 40px;
      width: 100%;
      border: 0;
      z-index: 98;
      font-size: 16px;
    }

    .dp--menu-wrapper {
      min-height: 300px !important;
      max-width: 300px !important;
      width: 100% !important;
    }

    .dp__selection_preview {
      max-width: 100px !important;
      width: 100%;
    }

    .dp__button {
      display: none;
    }

    .dp__action_select,
    .dp__action_cancel {
      padding: 10px 10px !important;
      border: 0;
      height: 40px;
      transition: 400;
      box-shadow: 0px 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
        0px 2px 2px 0px
          var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
        0px 1px 5px 0px var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.12)) !important;
    }

    .dp__action_cancel {
      color: #333;

      &:hover {
        color: #000;
      }
    }

    .dp__action_select {
      &:hover {
        background: #333;
        opacity: 0.8;
      }
    }

    .dp__action_select,
    .dp__overlay_cell_active,
    .dp__active_date,
    .dp__active_month {
      background: #333;
    }

    .dp__menu_index {
      min-height: 350px !important;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .dp__action_row {
      min-height: 100% !important;
    }

  }

  &__label {
    position: absolute;
    top: 7px !important;
    left: 10px;
    margin-left: 6px !important;
    font-size: 12px;
    color: #979797;
    font-weight: 400;
    z-index: 99;
  }

  &__submit-btn {
    height: 58px !important;
    width: 100%;
  }

  &__edit {
    &-btn {
      margin-bottom: 15px; 
      z-index: 99;
    }

    &-sheet {
      display: flex !important;
      justify-content: flex-end !important;
    }
  }
}
