.patients {
  &__overlay {
    display: grid !important;
    place-items: center !important;

    &-card {
      padding: 20px !important;
      background: #fff !important;
      overflow: visible !important;
    }
  }

  &__form {
    max-width: 400px !important;
    min-width: 320px !important;
    width: 100% !important;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__date-picker {
    height: 100% !important;
    outline: none;
    display: flex;
    justify-content: center;
    max-width: 400px !important;
    min-width: 320px !important;
    width: 100% !important;
    margin: 5px 0 20px;
    color: #848484;

    &_wrapper {
      position: relative;
    }

    &_label {
      position: absolute;
      top: 50%;
      left: 42px;
      transform: translateY(-50%);
      transition: all 0.2s ease;
      pointer-events: none;
      z-index: 99;
      color: #848484;

      &.label-active {
        top: 13px;
        left: 42px;
        font-size: 12px;
      }
    }

    input {
      height: 60px;
      max-width: 400px !important;
      min-width: 320px !important;
      width: 100% !important;
      border: 0;
      z-index: 98;
      font-size: 16px;
      background: #f6f6f6;
      transition: 300ms;

      &:hover {
        background: #eee;
      }
    }

    .dp {

      &__today {
      border: 1px solid #333;
      }

      &--future {
        // opacity: 0.3 !important;
        // display: none;
      }
      &--menu-wrapper {
        min-height: 300px !important;
        max-width: 300px !important;
        width: 100% !important;
      }

      &__selection_preview {
        max-width: 100px !important;
        width: 100%;
      }

      &__button {
        display: none;
      }

      &__action_select,
      &__action_cancel {
        padding: 10px 10px !important;
        border: 0;
        height: 40px;
        transition: 400;
        box-shadow: 0px 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)),
          0px 2px 2px 0px
            var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)),
          0px 1px 5px 0px
            var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.12)) !important;
      }

      &__action_cancel {
        color: #333 !important;

        &:hover {
          color: #000 !important;
        }
      }

      &__action_select {
        background: #333 !important;
        &:hover {
          opacity: 0.8;
        }
      }

      &__action_select,
      &__overlay_cell_active,
      &__active_date,
      &__active_month {
        background: #333 !important;
      }

      &__menu_index {
        min-height: 350px !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      &__action_row {
        min-height: 100% !important;
      }

      &__clear_icon {
        display: none;
      }
    }
  }
}
