@font-face {
  font-family: "MabryPro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MabryPro-Regular.woff2") format("woff2");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "MabryPro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/MabryPro-Bold.woff2") format("woff2");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Rainer";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Rainer-Regular.woff2") format("woff2");
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Rainer";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Rainer-Bold.woff2") format("woff2");
  text-rendering: optimizeLegibility;
}
